extends page_layout

block content
  br
  if user && user.role=='parent'
    h4 Sean's Open Tasks
    table.u-full-width
      thead
        tr
          th Task
          th From
          th Due
          th 
      tbody
        each task, i in tasks
          if task.complete ==false && task.assignedto=='Sean Stark'
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
              td
                button.button.button-success.complete-task(href='#', data-id=task._id) Done
                if user.fullname ==task.creator || user.role =='parent'
                  a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                  button.button.button-delete.delete-task(href='#', data-id=task._id) Del
    br
    h4 Sean's Completed Tasks
    table.u-full-width
      thead
        tr
          th Task
          th From
          th Due
          th 
      tbody
        each task, i in tasks
          if task.complete ==true && task.assignedto=='Sean Stark'
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
              td
                if user.fullname ==task.creator || user.role =='parent'
                  a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                  button.button.button-delete.delete-task(href='#', data-id=task._id) Del
