extends page_layout

block content
  div 
    span.task-header-big Task:   
    span.task-item-big #{tasktitle}
  div
    span.task-header-small Assigned to: 
    span.task-item-small #{assignedto}
  div
    span.task-header-small Due Date: 
    span.task-item-small #{duedate}
  div
    span.task-body-header More Details: 
    span.task-body #{taskbody}
  br
  span.creation-info Created by: #{creator} on #{created}
  hr
  div 
  if user
      if user.fullname ==task.assignedto & task.complete ==false
        a.btn.btn-success.btn-sm(method='POST',href='/tasks/complete/'+task._id, class='complete') Mark as Complete
      if user.fullname ==task.creator || user.role =='parent' || user.role =='admin'
        a.btn.btn-info.btn-sm(href='/tasks/edit/'+task._id, class='edititems') Edit Task
        a.btn.btn-danger.btn-sm.delete-task(href='#', data-id=task._id) Delete Task
  br
  if user
    if user.fullname =='Ted Stark'   
      p Fixes/enhancements for this page:
      ol
        li 
          del Change css for actual task data to be different from row namespace
        li 
          del Add created date and last updated date (formatted)
