extends page_layout

block content
  if !user
    br
    h1 Please log in...
    form(role='form',method='POST', action='/users/login')
      //- POSTS via routes_users.js
      .row
        .six.columns
          label(for='username') Your User Name:
          input.form-control(class='u-full-width', name='username',type='text', placeholder='Username')
        .six.columns
          label(for='password') Your Password:
          input.form-control(class='u-full-width', name='password',type='password', placeholder='Password')
      br
      input.button-primary(type='submit', value='Submit')

  br
  if user && user.role =='child'
    h4 Tasks I Need to Complete
    table.u-full-width
      thead
        tr
          th Task
          th From
          th Due
          th 
      tbody
        each task, i in tasks
          if user.fullname ==task.assignedto && task.complete ==false
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
              td
                button.button.button-success.complete-task(href='#', data-id=task._id) Done
                if user.fullname ==task.creator || user.role =='parent'
                  a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                  button.button.button-delete.delete-task(href='#', data-id=task._id) Del
  
  if user && user.role =='parent'
    h4 Sean's Open Tasks
    table.u-full-width
      thead
        tr
          th Task
          th From
          th Due
          th 
      tbody
        each task, i in tasks
          if task.assignedto=='Sean Stark' && task.complete ==false
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
              td
                button.button.button-success.complete-task(href='#', data-id=task._id) Done
                a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                button.button.button-delete.delete-task(href='#', data-id=task._id) Del
    br
    h4 Ryan's Open Tasks
    table.u-full-width
      thead
        tr
          th Task
          th From
          th Due
          th 
      tbody
        each task, i in tasks
          if task.assignedto=='Ryan Stark' && task.complete ==false
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
              td
                button.button.button-success.complete-task(href='#', data-id=task._id) Done
                a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                button.button.button-delete.delete-task(href='#', data-id=task._id) Del
