extends page_layout

block content
  div 
    label.task-header-big.zebra Task:
    span.task-item-big.zebra #{tasktitle}
    if task.complete==true
      label.cheetah Completed
  div
    label.task-header-big.zebra Assigned to: 
    span.task-item-small.zebra #{assignedto}
  div
    label.task-header-big.zebra Due Date: 
    span.task-item-small.zebra #{duedate}
  div
    label.task-body-big.zebra More Details: 
    span.task-body.zebra #{taskbody}
  br
  label.creation-info.zebra Created by: 
  span.task-body.zebra #{creator} on #{created}
  hr
  if user
      if user.fullname ==task.creator || user.role =='parent'
        button.button.button-delete.leftside.delete-task(href='#', data-id=task._id) Del
        a.button.button-edit.leftside(href='/tasks/edit/'+task._id) Edit
      if (user.fullname ==task.assignedto || user.role=='parent') && task.complete==false
        button.button.button-success.leftside.complete-task(href='#', data-id=task._id) Done


  br
