extends page_layout

block content
  br
  if user && user.role=='parent'
    h4 Open Tasks
    table.u-full-width
      thead
        tr
          th Task
          th For
          th From
          th Due
      tbody
        each task, i in tasks
          if task.complete ==false
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.assignedto
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
                button.button.button-success.complete-task(href='#', data-id=task._id) Done
                a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                button.button.button-delete.delete-task(href='#', data-id=task._id) Del
    br
    h4 Completed Tasks
    table.u-full-width
      thead
        tr
          th Task
          th For
          th From
          th Due
      tbody
        each task, i in tasks
          if task.complete ==true
            tr
              td
                a(href="/tasks/view/"+task._id)= task.tasktitle
              td=task.assignedto
              td=task.creator
              td=moment(task.duedate).format("MM/DD/YYYY")
                a.button.button-edit(href='/tasks/edit/'+task._id) Edit
                button.button.button-delete.delete-task(href='#', data-id=task._id) Del
