extends page_layout

block content
    h1 Task Details
    h5 Task: #{tasktitle}
    h5 Assigned to: #{assignedTo}
    h5 Due Date: #{dueDate}
    h5 More Details: #{taskbody}
    br
    h6 Created by: #{creator}
    hr
    div 
    if user
        if user._id ==task.creator || user.role =='parent'
          a.btn.btn-success.btn-sm(href='/tasks/edit/'+task._id, class='edititems') Edit Task
          a.btn.btn-danger.btn-sm.delete-task(href='#', data-id=task._id) Delete Task
    //- if user
    //-     if user.id ==article.author
    //-         a.btn.btn-info(href='/articles/edit/'+article._id) Edit Article
    //-         a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete Article
    br
    p Fixes/enhancements for this page:
    ol
      li Change css for actual task data to be different from row namespace
      li Add created date and last updated date (formatted)
