extends page_layout

block content
  br
  if user && user.role=='parent'
    table.u-full-width
      thead
        tr
          th Username
          th Full Name
          th Email
          th Role
          th
      tbody
        each user, i in users
            tr
              td
                a(href="/users/view/"+user._id)= user.username
              td=user.fullname
              td=user.email
              td=user.role
              td
                if user.username!== 'ted'
                    a.button.button-edit(href="/users/edit/"+user._id) Edit
                    button.button.button-delete.delete-user(href='#', data-id=user._id) Del
